body{
  background-image: linear-gradient(grey,white,black);
}
#main{
  border: 8.5px groove black;
  border-radius: 30px;
  padding: 7.5px;
  /* padding-bottom: 25px; */
  padding-top: 150px;
  background-color: black;
  box-shadow: 10.5px 12px 7.5px ;
  
}
input {
  color: aliceblue;
  height: 77px;
  width: 77px;
  border-radius: 50px;
  margin: 4.75px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
input:hover {
  opacity: 60%;
}

.lightgrey {
  background-color: #a5a5a5;
  color: black;
}
.orange {
  background-color: #fe9505;
}
.darkgrey {
  background-color: #333333;
}
#zero {
  width: 167.5px;
}
#result {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: auto;
  width: 338px;
  font-size: 65px;
  overflow: hidden;
}
#result:hover{
  opacity: 100%;
}


